
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}



    <div class="container mt-3">
        <h2 class="text-center">Pagina Inicial</h2>
        <hr />

        <br />
        <details>
            <summary class="h3">Proposta :</summary>

            <p>
                - Criar um site de vendas.
                <br />
            </p>
            <p>
                - Existe uma Aba para Registrar um vendedor e um para logar na conta após registrado. Apos estar logado o vendedor pode cadastrar seus produtos e consuta-los.
                <br />
            </p>

            <p>
                - Sem estar logado é possivel ver os produtos anunciados e Acessar uma Aba de compra.
                <br />
            </p>
            <p>
                - Na aba de consu lta, sem estar logado é possivel acessar a Aba de Compra, onde simularia o cadastro  de usuario para comprar um produto.
                <br />
            </p>

        </details>

        <br />
        <details>
            <summary class="h3">Regras de Negocio :</summary>
            <p>
                - Para registrar um Produto você precisa estar logado no site.
                <br />
                - Não é possivel registrar uma conta com um email que já esteja no Banco de Dados.
            </p>

        </details>

        <br />
        <details>
            <summary class="h3">Tecnologias Utilizadas :</summary>
            <p>
                - Projeto Estruturado em MVC (Models,Views,Controllers).
            </p>
            <p>
                - Banco de Dados feito utilizando Dapper.
            </p>
            <p>
                - C# Net Core.
            </p>
            <p>
                - Html.
            </p>
            <p>
                - Bootstrap.
            </p>
            <p>
                - Verificação por Cookies.
            </p>

        </details>

        <br />
        <details>
            <summary class="h3">Desenvolvedor :</summary>
            <p>- Lucas Marapodi.</p>
            <p>- LucasMarapodi.Dev@gmail.com.</p>
            <p>
                <a href="https://github.com/LucasMarapodi" target="_blank">- GitHub.</a>
            </p>
        </details>


    </div>

    <style>
        p {
            font-size: 25px;
        }
    </style>

